* {
	text-align: center;
}

#account-title {
	margin-top: 55px;
	font-size: 2rem;
	color: darkolivegreen;
}

.account-avatar {
	height: 150px;
	border: 2px solid darkolivegreen;
	border-radius: 5px;
}

.account-name {
	font-size: 1.5rem;
	color: darkolivegreen;
}

.fa-edit {
	padding-left: 5px;
	color: darkolivegreen;
}

.fa-edit:hover {
	filter: brightness(120%);
	cursor: pointer;
}

.filepond--drop-label {
	background-color: white;
	border: 1px solid black;
}

.account-experience {
	text-transform: capitalize;
}

#avatar-upload {
	width: 250px;
	margin: 20px auto;
}

#update-confirm {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: darkolivegreen;
}

#update-cancel {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: darkred;
}

#delete-account-btn {
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: darkred;
}

#delete-account-btn:hover {
	cursor: pointer;
	color: red;
}

#delete-yes {
	padding: 0 5px;
	color: darkred;
	margin-right: 30px;
	margin-bottom: 30px;
}

#delete-no {
	padding: 0 5px;
	color: dodgerblue;
	margin-bottom: 30px;
}

@media all and (max-width: 700px) {
	.nav-menu-home {
		transform: translateY(30px);
	}
}
