.hike-card {
	text-align: center;
	border-bottom: 1px solid gray;
}

.hike-card-avatar {
	margin-top: 10px;
	width: fit-content;
	align-items: center;
}
.hike-card-avatar-sm {
	height: 50px;
	width: 50px;
	border: 2px solid darkolivegreen;
	border-radius: 50%;
	margin: 0 auto;
}

.hike-card-avatar-xs {
	height: 25px;
	width: 25px;
	border: 1px solid darkolivegreen;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar-info {
	font-size: .8rem;
}

.hike-card-hr {
	margin: 5px auto;
	width: 200px;
}

.hike-card-name {
	color: darkolivegreen;
	margin-top: 60px;
	text-transform: capitalize;
}

.hike-card-info {
	margin-bottom: 20px;
}

.hike-card-city {
	text-transform: uppercase;
}

.hike-card-location,
.hike-card-country {
	font-weight: lighter;
}

.hike-card-footer {
	margin-top: 40px;
}

.hike-card-blurb {
	padding: 10px;
	margin: 10px auto;
	border: 1px solid black;
	color: #5f5f5f;
	font-weight: 500;
	border-radius: 10px;
	width: fit-content;
	max-width: 90vw;
}

.hike-card-date {
	font-size: .7rem;
	margin-bottom: 60px;
}

.hike-card-comments {
	margin: 20px auto;
	padding: 10px;
	background: white;
	max-width: 60%;
	max-height: 500px;
	overflow-y: auto;
}

.comment-title {
	line-height: 1rem;
}

.comment-name {
	font-size: .8rem;
	color: darkolivegreen;
	font-weight: 600;
}

.comment-hr {
	margin: 10px auto;
	width: 60%;
}

.add-comment {
	margin-top: 10px;
}

.comment {
	padding: 5px 10px;
	width: 60%;
}

.comment-btn {
	background-color: darkolivegreen;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
}

.comment-btn:hover {
	cursor: pointer;
	filter: brightness(120%);
}

.popup {
	position: relative;
	display: inline-block;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: slategray;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 12%;
	left: 290%;
	margin-left: -80px;
	border: 1px solid darkolivegreen;
}

.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.avatar-name {
	font-weight: 600;
	font-size: 1rem;
	color: lightgray;
}

.avatar-hr {
	margin: 0 auto;
	width: 70%;
	outline: none;
	border: none;
	border-bottom: 1px solid #2f2f2f;
}

.avatar-experience {
	text-transform: capitalize;
	font-size: .7rem;
}

.avatar-posts {
	font-size: .7rem;
}

.hike-card-avatar-sm:hover {
	filter: brightness(120%);
	transition: all .5s;
}

.delete-button {
	padding: 0 5px;
	color: darkred;
	margin-right: 30px;
	margin-top: 20px;
}

.cancel-button {
	padding: 0 5px;
	color: dodgerblue;
	margin-top: 20px;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media all and (max-width: 700px) {
	.hike-card-comments {
		max-width: 85%;
	}
	.comment {
		width: 90%;
	}
}
