* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-smooth: 2em;
}

a {
	text-decoration: none;
}

body {
	background-color: rgb(238, 238, 238);
}

#nav {
	border-bottom: 1px solid black;
	height: 100px;
}

div.flickity-viewport {
	background-color: rgb(238, 238, 238);
}

.nav-title {
	padding-top: 20px;
	margin-left: 30px;
	font-size: 3rem;
}

.nav-avatar {
	border: 1px solid black;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	transform: translateY(15px);
}

.nav-menu-list {
	float: right;
	transform: translateY(-20px);
}

.nav-menu-list.logged-out {
	transform: translateY(1px);
}

.nav-menu-options {
	list-style: none;
	transform: translateY(-35px);
	padding-right: 20px;
}

.nav-menu-options > li {
	padding: 10px;
	display: inline;
}

#main {
	width: 100vw;
	column-gap: 20px;
	row-gap: 50px;
	margin: 0 auto;
	justify-items: center;
}

.hike-card-name {
	text-transform: capitalize;
}

.hike-card-state {
	text-transform: capitalize;
}

.hike-card-difficulty {
	text-transform: capitalize;
}

#footer {
	text-align: center;
}

.hidden {
	display: none;
}
