* {
	text-align: center;
	box-sizing: border-box;
}

#register-title {
	margin-top: 55px;
	font-size: 2rem;
	color: darkolivegreen;
}

.register-field-experience {
	margin-top: 10px;
}

.experience-title {
	font-size: 1.1rem;
	font-weight: 600;
	color: darkolivegreen;
}

.register-btn {
	background-color: darkolivegreen;
	color: white;
	border: 1px solid black;
	font-weight: 700;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.register-btn:hover {
	cursor: pointer;
	filter: brightness(120%);
}

.register-btn:disabled {
	cursor: not-allowed;
	background-color: darkgray;
}

@media all and (max-width: 700px) {
	.nav-menu-home {
		transform: translateY(30px);
	}
}
